
<div class='container-fluid'>
	
	<img src="../../../assets/images/Setup/wall-pattern.jpg">

	<div class='row main d-flex justify-content-center align-items-center'>
		
		<div class='col-11 col-sm-auto d-flex flex-column align-items-center text-white' style='position:relative;top:-5vh;font-family:"Manjari", sans-serif;'>
			<p class='error'>404</p>	
			<p class='error-message h3 m-0 text-center'>the requested page could not be found</p>	
			<a routerLink="/" class='p-2 text-white d-inline'>Home</a>	
		</div>
	</div>
</div>