 
<div class='container-fluid'>
	
	<img src="../../../assets/images/Setup/wall-pattern.jpg" class='background'>

	<div class='row main d-flex justify-content-center align-items-center'>
		
		<div class='col-11 col-sm-9 col-lg-6 p-0 bg-white setup-container pb-4 pb-sm-5 d-flex flex-column'>

			<div class='d-flex justify-content-between align-items-center heading py-3 px-4'>
				<p class='m-0 h4 text-muted'><a routerLink='' style='color:unset; text-decoration:none;'>Sort</a></p>
				<img src="../../../assets/images/Setup/refresh.svg" width='25px' height='25px' style='cursor:pointer;' (click)='resetDetails(false)'>
			</div>
			<div class='setup-body px-4 mt-4'>
				<div class='row'>
					<div class='col-md-6 form-group'>
						<input type="text" name="name" (input)='setEventName($event.target.value)' class='form-control' placeholder='Event Name' #evtName>
					</div>
					<div class='col-md-6 d-flex flex-column'>
						<div class='d-flex'>
							<input type="text" name="aisle" [(ngModel)]='form.aisle' class='form-control mr-2' placeholder="Aisle Name" #aisle>
							<button (click)='addAisle()'>Add</button>
						</div>
						<div class='d-flex align-items-end pl-1 pl-md-0'>
							<p class='m-0 mt-2 mr-2'>{{ aisles.length }} Aisles</p>
							<a  style='color:unset;' (click)='toggleViewAisles()'>View</a>
						</div>
					</div>
					<div class='col-md-6 d-flex flex-column mt-2 mt-sm-3'>
						<select class='custom-select mr-2' (change)='setNumPostings($event.target.value)'>
							<option value="1" [selected]='setSelectedNumPostings(1)'>1</option>
							<option value="2" [selected]='setSelectedNumPostings(2)'>2</option>
							<option value="3" [selected]='setSelectedNumPostings(3)'>3</option>
							<option value="4" [selected]='setSelectedNumPostings(4)'>4</option>
							<option value="5" [selected]='setSelectedNumPostings(5)'>5</option>
						</select>
						<p class='mt-2 pl-1 pl-md-0'>Postings per aisle</p>
					</div>
					<div class='col-md-6 d-flex flex-column mt-md-3'>
						<select class='custom-select mr-2' (change)='setNumStewards($event.target.value)'>
							<option value="1" [selected]='setSelectedNumStewards(1)'>1</option>
							<option value="2" [selected]='setSelectedNumStewards(2)'>2</option>
							<option value="3" [selected]='setSelectedNumStewards(3)'>3</option>
							<option value="4" [selected]='setSelectedNumStewards(4)'>4</option>
							<option value="5" [selected]='setSelectedNumStewards(5)'>5</option>
						</select>
						<p class='mt-2 pl-1 pl-md-0'>Stewards per posting</p>
					</div>
					<div class='col-md-6 mt-2 d-flex align-items-center'>
						<div class='custom-control custom-checkbox pl-1 pl-md-0 check-parent'>
						 	<div class="custom-control custom-checkbox">
								<input type="checkbox" class='custom-control-input' id="coordinators" (click)='toggleCoordinators()' checked>
								<label class="custom-control-label" for="coordinators">With Coordinators ?</label>
							</div>
						</div>
					</div>									
					<div class='col-md-6 d-flex flex-column mt-2'>
						<div class='d-flex'>
							<input type="text" name="coordinator" [(ngModel)]='form.coordinator' class='form-control mr-2' placeholder="Coordinator Name">
							<div style='position:relative;'>
								<button (click)='addCoordinator()' style='height:100%;'>Add</button>
								<div class='overlay' [class.active]='overlayActive' #overlay></div>
							</div>
						</div>
						<div class='d-flex align-items-end pl-1 pl-md-0'>
							<p class='m-0 mt-2 mr-2'>{{ coordinators.length }} Coordinators</p>
							<a style='color:unset;' (click)='toggleViewCoordinators()'>View</a>
						</div>
					</div>
					<div class='col-md-6 mt-3 mt-md-0'>
						<a routerLink='/sort' class='py-2 px-4 start'>Get Cracking</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class='aisles-container d-flex justify-content-center align-items-center text-white' [class.active]='showAisles'>
		<div class='navtoggle' (click)='toggleViewAisles()'>
			<span></span>
		</div>

		<div class='d-flex flex-column'>
			<p class='m-0 h1 text-center' *ngIf='aisles.length > 0'>aisles</p>

			<div class='d-flex flex-column mt-4 text-center' *ngIf='aisles.length > 0'>
				<p *ngFor='let aisle of aisles' class='mb-2 h3'>{{ aisle | lowercase }}</p>
			</div>

			<div class='d-flex justify-content-center' *ngIf='aisles.length == 0'>
				<p class='m-0 h2'>no aisles to display </p>
			</div>
		</div>
	</div>

	<div class='coordinators-container d-flex justify-content-center align-items-center text-white' [class.active]='showCoordinators'>
		<div class='navtoggle' (click)='toggleViewCoordinators()'>
			<span></span>
		</div>

		<div class='d-flex flex-column'>
			<p class='m-0 h2 text-center' *ngIf='coordinators.length > 0'>coordinators</p>

			<div class='d-flex flex-column mt-4 text-center' *ngIf='coordinators.length > 0'>
				<p *ngFor='let coordinator of coordinators' class='mb-2 h3'>{{ coordinator | lowercase }}</p>
			</div>

			<div class='d-flex justify-content-center' *ngIf='coordinators.length == 0'>
				<p class='m-0 h2'>no coordinators to display </p>
			</div>
		</div>
	</div>
	
</div>