.container-fluid
{
	position: relative;
	background:rgba(0,0,0,0.002);
	max-height:100vh;
}

.main
{
	height:100vh;
	padding:10vh 0;
	box-sizing: border-box;
}

.pattern
{
	position:relative;
}

img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit: cover;
}

img.filler
{
	border-radius:10px;
}

.brand
{
	font-family:'Indie Flower', cursive;
	font-size:6em;
	color:rgba(0,0,0,0.7);
}

.brand-container
{
	padding-top:8%;
	line-height:1;
}

a
{
	position:relative;
	top:65px;
	left:10px;
	padding:10px 20px;
	color:unset;
	font-family:'Quicksand', sans-serif;
	border:1px solid rgba(0,0,0,0.1);
	background:#CD2F2F;
	text-decoration: none;	
	border-radius:3px;
}


@media(max-width:991px)
{
	.main
	{
		padding:0;
	}

	.brand-container
	{
		position:relative;
		padding-top:0;
		top:-10vh;
	}

	.brand
	{
		color:#fff;
	}

	.main-container
	{
		align-items: center;
	}
}


@media(max-width:576px)
{
	.brand-container
	{
		top:-5vh;
	}
}
