
<div class='container-fluid'>
	
	<img src="../../../assets/images/Setup/wall-pattern.jpg" class='d-lg-none'>

	<div class='row main d-flex justify-content-center'>

		<div class='col-lg-9 row d-flex main-container'>
			<div class='d-none d-lg-block col-6 pattern'>
				<img src="../../../assets/images/Home/Jesus.jpg" class='filler'>
			</div>
			<div class='col-lg-6 d-flex flex-column align-items-center text-center text-sm-left brand-container'>
				<div class='ml-lg-5 px-5 px-lg-0'>
					<p class='brand m-0'>The Sort App</p>
					<a routerLink="/setup" class="mr-3 mr-sm-0 text-white">Begin</a>
				</div>
			</div>
		</div>
	</div>
</div>