
<div class='container-fluid pt-5'>
	
	<img src="../../../assets/images/Setup/wall-pattern.jpg">

	<div class='row d-flex justify-content-center mb-2'>
		
		<div class='col-6 d-flex justify-content-between relevant-info p-4'>
			<p class='m-0'>{{ event_name }}</p>
			<p class='m-0'>{{ date }}</p>
		</div>
	</div>

	<div class='row d-flex justify-content-center mb-2'>
		
		<div class='col-6 row d-flex justify-content-between p-4'>
			
			<input type="text" name="" class='form-control'>
		</div>
	</div>



</div>